
@{
    ViewBag.Title = "ListaEps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script defer src="~/Scripts/APP/Eps/ListaEps.js"></script>

<h2>Lista Eps</h2>

<div class="table-responsive row col-xl-12 ">
    <table class="table" id="datatable-eps">
        <thead>

            <tr class="ColorTabla">
                <th>ID</th>
                <th>CODIGO</th>
                <th>NOMBRE</th>
             
            </tr>
        </thead>
    </table>
</div>