
@{
    ViewBag.Title = "ListaInformeAmbulanteSemiestacionario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script defer src="~/Scripts/APP/AmbulanteSemiestacionario/ListaAmbulanteSemiestacionarioInforme.js"></script>
<h2>Listado Informe Trabajadores Ambulantes y Semiestacionario</h2>

<!--<div class="table-responsive row col-xl-12">
    <table class="table" id="datatable-AmbulanteSemiestacionario">
        <thead>
            <tr class="ColorTabla">
                <th>ID</th>
                <th>NOMBRES</th>
                <th>APELLIDOS</th>
                <th>MUNICIPIO</th>
                <th>FORMA TRABAJO</th>
                <th>TIPO IDENTIFICACION</th>
                <th>NUMERO IDENTIFICACION</th>
                <th>OFICIO</th>
                <th>SEXO</th>
                <th>ACCIONES</th>--> <!-- Columna extra para botones -->
            <!--</tr>
        </thead>
    </table>
</div>-->
<div class="table-responsive row col-xl-12">
    <table class="table" id="datatable-AmbulanteSemiestacionario">
        <thead>
            <tr class="ColorTabla">
                <th>ID</th>
                <th>NOMBRES</th>
                <th>APELLIDOS</th>
                <th>MUNICIPIO</th>
                <th>FORMA TRABAJO</th>
                <th>TIPO IDENTIFICACION</th>
                <th>NUMERO IDENTIFICACION</th>
                <th>OFICIO</th>
                <th>SEXO</th>
                <th>FECHA NACIMIENTO</th>
                <th>EDUCACION</th>
                <th>POBLACION</th>
                <th>CONDICION</th>
                <th>ORGANIZACION SOCIAL</th>
                <th>SEGURIDAD SOCIAL</th>
                <th>ANTIGUEDAD TRABAJO</th>
                <th>JORNADA</th>
                <th>HORAS DIAS</th>
                <th>DIAS SEMANA</th>
                <th>DESPLAZAMIENTO</th>
                <th>ENFERMEDAD</th>
                <th>SUSTANCIA</th>
                <th>ALCOHOL</th>
                <th>ACTIVIDAD FISICA</th>
                <th>HORAS DUERME</th>
                <th>FRUTAS VERDURAS</th>
                <th>COMPORTAMIENTO</th>
                <th>SINTOMAS</th>
                <th>ACCIDENTE</th>
                <th>DISCAPACIDAD</th>
                <th>SEGURIDAD</th>
                <th>PELIGRO FISICO</th>
                <th>PELIGRO BIOMECANICO</th>
                <th>PELIGRO QUIMICO</th>
                <th>PELIGRO BIOLOGICO</th>
                <th>PELIGRO PSICOSOCIAL</th>
                <th>AGUA</th>
                <th>EXCRETA</th>
                <th>RESIDUOS</th>
                <th>COMBUSTIBLE</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
    </table>
</div>