
@{
    ViewBag.Title = "ListaAfp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script defer    src="~/Scripts/APP/Afp/ListaAfp.js"></script>
<h2>ListaAfp</h2>

<div class="table-responsive row col-xl-12 ">
    <table class="table" id="datatable-afp">
        <thead>

            <tr class="ColorTabla">
                <th>ID</th>
                <th>TIPO ADMINISTRADOR</th>
                <th>CODIGO</th>
                <th>ADMINISTRADOR</th>

                
            </tr>
        </thead>
    </table>
</div>