
@{
    ViewBag.Title = "ListaMedicosDeportiva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script defer src="~/Scripts/APP/Medicos/ListaMedicos.js"></script>
<h2>Listado Especialistas</h2>

<div class="table-responsive row col-xl-12 ">
    <table class="table" id="datatable-medicos">
        <thead>

            <tr class="ColorTabla">
                <th>ID</th>
                <th>CODIGO</th>
                <th>NOMBRES</th>
                <th>APELLIDOS</th>
                <th>ESPECIALIDAD</th>
                <th>GENERO</th>
            </tr>
          </thead>
    </table>
</div>